<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SBTUITestTunnel-Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SBTUITestTunnel_Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SBTUITestTunnel_UITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SBTUITestTunnel_UITests2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6003F589195388D20070C39A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6003F5AD195388D20070C39A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C32B7F8C1EE951340065DD02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39B79D91CB41910000C8B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39B79E41CB41A15000C8B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39B79F71CB41C3A000C8B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
