name: CI

on: [pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: macos-15

    name: Run UI Test on iOS
    env:
      xcode_version: "16.4"
    steps:
      - name: List Xcode installations
        run: sudo ls -1 /Applications | grep "Xcode"
      - name: Select Xcode version ${{ env.xcode_version }}
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ env.xcode_version }}.app/Contents/Developer
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install required tools
        run: |
          brew update
          brew install xcodegen
      - name: Generate projects;
        run: |
          cd Example; xcodegen
          cd SPM; xcodegen
      - name: Build App
        run: |
          Scripts/run_build.rb Example/SBTUITestTunnel.xcworkspace
      - name: Run UI Tests
        run: |
          Scripts/run_uitests.rb Example/SBTUITestTunnel.xcworkspace
      - name: Collect UI Tests artifacts
        uses: actions/upload-artifact@v4
        with:
          name: SBTUITestTunnel_Tests_iOS.xcresult
          path: SBTUITestTunnel_Tests.xcresult
        if: success() || failure()
      - name: Run no swizzling UI Tests
        run: |
          Scripts/run_uitests_no_swizzling.rb Example/SBTUITestTunnel.xcworkspace
      - name: Collect no swizzling UI Tests artifacts
        uses: actions/upload-artifact@v4
        with:
          name: SBTUITestTunnel_TestsNoSwizzling_iOS.xcresult
          path: SBTUITestTunnel_TestsNoSwizzling.xcresult
        if: success() || failure()
      - name: Build SPM App
        run: |
          Scripts/run_build.rb Example/SPM/SBTUITestTunnel.xcodeproj
      - name: Run SPM UI Tests
        run: |
          Scripts/run_uitests.rb Example/SPM/SBTUITestTunnel.xcodeproj
